// Bootstrap font path
$icon-font-path: "../fonts/" !default;

// Bootstrap Mobile Project font
$bm-icon-font-name: "bmfont";

$white: #fff !default;

$headerHeight: 50px !default;

$red: #f34541 !default;

$contrast: $red !default;

$headerBackground: $contrast !default;